.blog-img-medium {
  max-width: 600px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.blog-img-small {
  max-width: 450px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}